#homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#containing {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 20%;
  justify-content: space-around;
  background-color: rgba(0, 0, 255, 0.747);
}
#greetContainer {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
